table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    height: 50px;
}
table{
    width: 100%; 
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.green{
    background-color: rgb(0, 255, 0);
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: rgb(132, 0, 255);
}